<div class="xrm">
  <div class="xrm__row">
    <h3>Description</h3>
    <p>{{xrm.description}}</p>
  </div>
  <hr>
  <div class="xrm__row xrm__row--two-col">
    <div>
      <h3>Task Type:</h3>
      <p>{{xrm.taskType}}</p>
    </div>
    <div>
      <h3>Status:</h3>
      <p>{{xrm.status}}</p>
    </div>
  </div>
  <div class="xrm__row xrm__row--two-col">
    <div>
      <h3>Projected:</h3>
      <p>Start Date: {{xrm.projected.startDate}}</p>
      <p>End Date: {{xrm.projected.endDate}}</p>
      <p>Time on task: {{xrm.projected.time}}</p>
    </div>
    <div>
      <h3>Actual:</h3>
      <p>Start Date: {{xrm.actual.startDate}}</p>
      <p>End Date: {{xrm.actual.endDate}}</p>
      <p>Time on task: {{xrm.actual.time}}</p>
    </div>
  </div>
</div>
