.Project {
  display: grid;
  grid-row-gap: 15px;
  grid-column-gap: 30px;
}

.Tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 420px;
  overflow: auto;
}

app-task-card {
  display: block;
  margin: 5px 0;
}

@media (min-width: 992px) {
  .Project {
    grid-template-columns: 2fr 3fr;
  }
}