
<h1 class="text-center">{{project.name}}</h1>
<div class="Project">
  <div class="Tasks">
    <app-task-card *ngFor="let task of project.tasks" [task]="task"></app-task-card>
  </div>

  <!-- Tabs -->
  <div class="Tabs">
    <ngb-tabset #tabs>
      <ngb-tab title="xRM" id="xrm">
        <ng-template ngbTabContent>
          <app-xrm-tab></app-xrm-tab>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Notes" id="notes">
        <ng-template ngbTabContent>
          <app-notes-tab></app-notes-tab>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>