
<div class="Tasks">
  <app-task-card *ngFor="let task of project.tasks" [task]="task"></app-task-card>
</div>
<ngb-tabset>
  <ngb-tab title="xRM">
    <ng-template ngbTabContent>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil delectus minima provident ducimus in autem repellendus tenetur placeat sint veritatis corporis quam laudantium explicabo dolore ipsam earum cumque asperiores, animi obcaecati sapiente? Facere quasi aperiam, voluptas nam non quod quae nesciunt qui? Omnis beatae corporis asperiores nesciunt quidem, similique magni.</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Notes</ng-template>
    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
      <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
      cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
      yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
      shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
      sint qui sapiente accusamus tattooed echo park.</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>