
/** Toolbar styles for both home page components **/
.Toolbar {
  text-align: center;
}

@media (min-width: 768px) {
  .Toolbar {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}